@using HospitalAppointmentProject1.ViewModels;
@model IEnumerable<AppUser>

<h1>Users</h1>
<hr />

<a class="btn btn-primary" asp-action="Create" asp-controller="Account">Create User</a>
<hr />
<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th>User Email</th>
            <th style="width:125px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <form method="post" asp-action="Delete" onsubmit="return confirm('Emin misiniz?')" style="display:inline-block">
                        <input type="hidden" name="id" value="@user.Id" />
                       <button type="submit" class="btn btn-danger btn-sm" asp-action="Delete">Delete</button>
                    </form>
                    

                </td>
            </tr>

        }
    </tbody>

</table>