@model IEnumerable<HospitalAppointmentProject1.Models.Appointment>

@{
    ViewData["Title"] = "AppointmentList";
}

<h1>Appointment List</h1>
<hr />

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelectedTimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Major)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Doctor Name
            </th>
            <th>
                User Name
            </th>
            <th></th>

</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SelectedTimeSlot)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @item.Doctor?.FirstName
                </td>
                <td>
                    @item.User?.FullName
                </td>

                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a>
                    <form method="post" asp-action="Delete" onsubmit="return confirm('Emin misiniz?')" style="display:inline-block">
                        <input type="hidden" name="AppointmentId" value="@item.AppointmentId" />
                        <button type="submit" class="btn btn-danger btn-sm" asp-action="Delete">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
